.home {
    position: relative;
    z-index: 1;
}

.start {
    position: absolute;
    top: 1.4rem;
    left: 2rem;
    height: 145px;
    width: 82px;
    border-radius: 50%;
    opacity: 0;
}

.pause {
    position: absolute;
    top: 1.4rem;
    left: 7rem;
    height: 145px;
    width: 73px;
    border-radius: 50%;
    opacity: 0;
}

.reset {
    position: absolute;
    top: 7.7rem;
    left: 40%;
    height: 145px;
    width: 57px;
    transform: rotate(91deg);
    opacity: 0;
}

.cloudAnswer {
    height: 80px;
    width: 199px;
    cursor: pointer;
}

.cloudAnswerCheck {
    height: 80px;
    width: 199px;
    background: greenyellow;
    border-radius: 45%;
    cursor: pointer;
}

.cloudAnswerMistake {
    height: 80px;
    width: 199px;
    background: red;
    border-radius: 45%;
    cursor: pointer;
}

.tree {
    position: absolute;
    object-fit: contain;
}

.tree {
    margin-top: 14rem;
    height: 350px;
    width: 302px;
    margin-left: 15rem;
}

.answerRow {
    height: 120px;
}
