.numberSun {
    position: absolute;
    top: 12%;
    left: 26%;
    font-size: 6.5rem;
    font-family: IceGirl;
    color: #ff3922;
    font-weight: 600;
}

.numberSun9 {
    position: absolute;
    top: 12%;
    left: 38%;
    font-size: 6.5rem;
    font-family: IceGirl;
    color: #ff3922;
    font-weight: 600;
}

.cloudQuestionSize {
    width: 87%;
    height: 100%;
}

.cloudQuestion {
    position: absolute;
    top: 2.9rem;
    left: 2.5rem;
    width: 54rem;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 550;
    font-family: Futura-Normal;
    color: #4F5B85;
}

.answer {
    position: absolute;
    top: 1.3rem;
    left: 0rem;
    width: 14rem;
    text-align: center;
    font-family: Futura-Normal;
    font-weight: bold;
    color: #4F5B85;
    font-size: 1.5rem;
}

.tree {
    margin-bottom: 0rem;
    margin-top: 5rem;
    height: 500px;
    width: 500px;
}
.team {
    position: absolute;
    height: 160px;
    width: 100px;
    margin-left: 2rem;
    margin-top: 7.5rem;
}

.treeWithouAny {
    margin-bottom: 0rem;
    margin-top: 14rem;
}
