@font-face {
  font-family: 'Futura-Normal';
  src: local('MyFont'), url("./assets/fonts/6563.ttf") format('ttf');
}

@font-face {
  font-family: 'IceGirl';
  src: local('MyFont'), url("./assets/fonts/20319.otf") format('otf');
}

body {
  background-image: url("./assets/Ресурс 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Futura-Normal;
}
